@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?upkwtw');
  src: url('../fonts/icomoon.eot?upkwtw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?upkwtw') format('truetype'),
    url('../fonts/icomoon.woff?upkwtw') format('woff'),
    url('../fonts/icomoon.svg?upkwtw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
}

.icon-project:before {
  content: "\e901";
}

.icon-home:before {
  content: "\e902";
}

.icon-fractal:before {
  content: "\e903";
}

.icon-bar:before {
  content: "\e904";
}

.icon-phone:before {
  content: "\e942";
}

.icon-envelop:before {
  content: "\e945";
}

.icon-numerical:before {
  content: "\ea67";
}

/*Fonts web*/
@font-face {
  font-family: 'cmr12';
  src: url('../fonts/cmr12.eot');
  src: url('../fonts/cmr12.eot') format('embedded-opentype'),
    url('../fonts/cmr12.woff2') format('woff2'),
    url('../fonts/cmr12.woff') format('woff'),
    url('../fonts/cmr12.ttf') format('truetype'),
    url('../fonts/cmr12.svg#cmr12') format('svg');
}

@font-face {
  font-family: 'cmmi12';
  src: url('../fonts/cmmi12.eot');
  src: url('../fonts/cmmi12.eot') format('embedded-opentype'),
    url('../fonts/cmmi12.woff2') format('woff2'),
    url('../fonts/cmmi12.woff') format('woff'),
    url('../fonts/cmmi12.ttf') format('truetype'),
    url('../fonts/cmmi12.svg#cmmi12') format('svg');
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url('../fonts/OpenSansLightItalic.eot');
  src: url('../fonts/OpenSansLightItalic.eot') format('embedded-opentype'),
    url('../fonts/OpenSansLightItalic.woff2') format('woff2'),
    url('../fonts/OpenSansLightItalic.woff') format('woff'),
    url('../fonts/OpenSansLightItalic.ttf') format('truetype'),
    url('../fonts/OpenSansLightItalic.svg#OpenSansLightItalic') format('svg');
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSansLight.eot');
  src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
    url('../fonts/OpenSansLight.woff2') format('woff2'),
    url('../fonts/OpenSansLight.woff') format('woff'),
    url('../fonts/OpenSansLight.ttf') format('truetype'),
    url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}

@font-face {
  font-family: 'lmroman12regular';
  src: url('../fonts/lmroman12regular.eot');
  src: url('../fonts/lmroman12regular.eot') format('embedded-opentype'),
    url('../fonts/lmroman12regular.woff2') format('woff2'),
    url('../fonts/lmroman12regular.woff') format('woff'),
    url('../fonts/lmroman12regular.ttf') format('truetype'),
    url('../fonts/lmroman12regular.svg#lmroman12regular') format('svg');
}